# Adidas Mock Data Exploration

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [92]:
a_mockData_df = pd.read_csv(...\Adidas Sample Sales.csv")

In [93]:
# Memory usage 

a_mockData_df.memory_usage(deep=True).sum()

7618627

#### Data Frame column fixes 
As seen below that some columns are set as object but should be int or floats. Also, I have noticed that the numbers have space, comma and dollar signs. These also needed to removed to change the data types. I am also dropping retailer id cause Retailer is enough to determine data value. Columns that will be modified:
- Price per Unit obj to int64
- Units Sold obj to int64
- Total Sales obj to int64
- Operating Profit obj to int64
- Operating Margin obj to float64

In [94]:
# Drop Retailer ID 
a_mockData_df = a_mockData_df.drop('Retailer ID',axis=1)

##### Change Column dTypes

In [95]:
# Change of int64
change_dtype_int = a_mockData_df[['Units Sold','Total Sales','Operating Profit']]

for changes in change_dtype_int:
    a_mockData_df[changes] = a_mockData_df[changes].str.replace(' ', '').str.replace(',', '').str.replace('$', '', regex=True).str.strip()
    a_mockData_df[changes] = a_mockData_df[changes].astype('int64')

In [98]:
# Reduced Memory usage 
# Can reduce more when checking stats

a_mockData_df.memory_usage(deep=True).sum()

5950701

In [60]:
# Shape of the data frame and first five rows
print(a_mockData_df.shape)
a_mockData_df.head()

(9648, 12)

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,$50.00,1200,"$600,000","$300,000",50%,In-store
1,Foot Locker,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,$50.00,1000,"$500,000","$150,000",30%,In-store
2,Foot Locker,2020-01-03,Northeast,New York,New York,Women's Street Footwear,$40.00,1000,"$400,000","$140,000",35%,In-store
3,Foot Locker,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"$382,500","$133,875",35%,In-store
4,Foot Locker,2020-01-05,Northeast,New York,New York,Men's Apparel,$60.00,900,"$540,000","$162,000",30%,In-store

In [ ]:
# Tale 

a_mockData_df.tail()

Both head and Tail showing Retailers as Foot Locker. I need to inspect data for unique values. If its only Foot Locker then it will be one

In [28]:
# Number of unique retailers in the data set

print("Total",len(a_mockData_df['Retailer'].unique()), "Number of unique retailers")
a_mockData_df['Retailer'].unique()

Total 6 Number of unique retailers

array(['Foot Locker', 'Walmart', 'Sports Direct', 'West Gear', "Kohl's",
       'Amazon'], dtype=object)

This also means that the Retailer IDs are also the same

In [29]:
print("Total",len(a_mockData_df['Retailer ID'].unique()), "Number of unique retailers")

Total 4 Number of unique retailers

This is not the case, we might need to drop the IDs and just work with retailers

In [49]:
# Check for Nan values
(
    a_mockData_df
    .isna()
    .sum()
)

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

Great! No NaN Values

In [75]:
# Data Frame info on data types

a_mockData_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Invoice Date      9648 non-null   object
 2   Region            9648 non-null   object
 3   State             9648 non-null   object
 4   City              9648 non-null   object
 5   Product           9648 non-null   object
 6   Price per Unit    9648 non-null   object
 7   Units Sold        9648 non-null   int64
 8   Total Sales       9648 non-null   int64
 9   Operating Profit  9648 non-null   int64
 10  Operating Margin  9648 non-null   object
 11  Sales Method      9648 non-null   object
dtypes: int64(3), object(9)
memory usage: 904.6+ KB

Need to change numerical values

In [ ]:
a_mockData_df.describe()